
.linkedin-section {
    height: 400px;
    width: 100%;

    background-image: url(../../../images/pages/index/linkedin.png);
    background-size: cover;
}

.linkedin-wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    height: 100%;
    width: 100%;
}

.section-title {
    margin-top: -40px;
    margin-bottom: 40px;

    font-size: 32px;
    color: #fff;
}

.btn-redirect-linkedin {
    width: 150px;
    height: 50px;

    border-radius: 50px;
    background-color: #2B87F4;
    border: 3px solid #fff;
    color: #fff;
    
    font-weight: bolder;
    font-size: large;
}

.btn-redirect-linkedin:hover {
    cursor: pointer;
}

@media (max-width: 664px) {
 .section-title {
    font-size: 28px;
}   
}

@media (max-width: 581px) {
 .section-title {
    font-size: 24px;
}   
}

@media (max-width: 498px) {
 .section-title {
    font-size: 20px;
}   
}

@media (max-width: 416px) {
 .section-title {
    font-size: 18px;
}   
}

@media (max-width: 332px) {
 .section-title {
    text-align: center;
}   
}