.goals-section {
  width: 100%;
  padding-bottom: 71.8px;
}

.goals-wapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95%;
  height: calc(fit-content, + 30px);
  margin: 0 auto;
  padding: 30px 0;

  background-color: #003ac8;
  border-radius: 35px;
}

.goals-title-area {
  margin: 40px 0;
}

.goals-title {
  color: #afff03;
  font-size: 32px;
  text-transform: uppercase;
}

.goals-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 15px;

  max-width: 1230px;
}

.goal-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 400px;
}

.goal-img {
  height: 300px;
  width: 400px;
  margin-bottom: 16px;

  border-radius: 35px;
}

.goal-title {
  color: #afff03;
  font-size: 24px;
  text-transform: uppercase;
}

.goal-description {
  color: #fff;
  font-size: 18px;
}

@media (max-width: 665px) {
  .goals-title {
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 582px) {
  .goal-card {
    width: fit-content;
  }

  .goals-title {
    font-size: 24px;
  }

  .goal-img {
    height: 263px;
    width: 363px;
  }
}

@media (max-width: 499px) {
  .goals-title {
    font-size: 20px;
  }

  .goal-title {
    font-size: 18px;
  }

  .goal-description {
    font-size: 16px;
  }
}

@media (max-width: 416px) {
  .goals-title {
    font-size: 18px;
  }
  .goal-img {
    height: 220px;
    width: 320px;
    margin: 0 auto;
  }

  .goal-description {
    width: 310px;
  }
}
