* {

    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
    list-style-type: none;
    text-decoration: none;
}

html, body {
    width: 100%;

    background-color: #1E1E1E;
    
    scroll-behavior: smooth ;
}
