@import 'partials/header.css';
@import 'partials/section-hero.css';
@import 'partials/section-metas.css';
@import 'partials/section-linkedin.css';
@import 'partials/section-pessoas.css';

@import '../global/global.css'
