@import 'partials/header.css';
@import 'partials/section-hero.css';
@import 'partials/section-goals.css';
@import 'partials/section-linkedin.css';
@import 'partials/section-people.css';

@import '../global/global.css'
